@model AppMvc5.Models.Aluno

@{
    ViewBag.Title = "Detalhe do Aluno";
}

<h2>Detalhes do aluno: @Model.Nome</h2>

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataMatricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.Nome)
        </td>
        <td>
            @Html.DisplayFor(model => model.Email)
        </td>
        <td>
            @Html.DisplayFor(model => model.DataMatricula)
        </td>
        <td>
            @Html.DisplayFor(model => model.CPF)
        </td>
        <td>
            @Html.DisplayFor(model => model.Ativo)
        </td>
        <td>
            <div class="form-group">
                    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })
                </div>
        </td>
    </tr>
</table>


